
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
body{

    background-color: #fdfcfc;
}

nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-top: 50px;
 color: #3A3A3A;
}

.logo h1{
    font-size: 30px;
}
.nav-manu ul{
 display: flex;
 gap: 23px;
 align-items: center;
}
.nav-manu ul li{
 list-style: none;
 font-weight: bolder;
}


/* hero section styles */
.hero-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    align-items: center;
  
}
.hero-content h1{
 font-size: 60px;
 color: #3A3A3A;
}
.hero-content p{
 font-size: 14px;
 color: #3A3A3A;
 font-weight: bold;
 margin-top: 10px;
 
}

.hero-content button{
 font-size: 15px;
 color: white;
 font-weight: bold;
 padding: 8px 12px;
 border-radius: 20px;
 background-color: #E02C6D;
 border: none;
 margin-top: 20px;
 
}

.hero-media img{
    width: 400px;
}

.circel{
    width: 600px;
    position: absolute;
    right: 300px;
    z-index: -1;
}

.brand-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  70px;
    border-top: 1px solid rgb(177, 176, 176);
    border-bottom: 1px solid rgb(177, 176, 176);
    padding: 30px;
    margin: 60px auto;
    width: 55%;
}

/* product title */

.product-content-title{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(95, 94, 94);
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.product-container{
 
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
.product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width: 300px;
   border-radius: 10px;
   padding: 15px;
}

.product-title{
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}
.product-price{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 5px;
}
.rating{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.rating p{
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-left: 10px;
    margin-top: 3px;
    
}
.product-description{
    font-size: 20px;
    color: gray;
    font-weight: bolder;
    margin-top: 10px;
}
.seeMore{
    font-size: 22px;
    color: #E02C6D;
    font-weight: bold;
    text-align: right;
   margin-right: 400px;
   margin-top: 50px;
}

/* featured- section style */

.featured-products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.featured-title{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;

}
.featured-description{
    font-size: 16px;

    font-weight: bolder;
      margin-bottom: 20px;
    color: gray;
}

.featured-button{
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    background-color: #E02C6D;
    border: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
